header{
    color: rgb(0,0,0);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.2rem;
}

.logo{
    width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    display: none
}

@media only screen and (min-width: 450px) {
    .logo {
        display:flex !important
    }
}

.gh-logo{
    color: rgb(0,0,0);
    padding-top: 10px
}

header .stopwatch{
    font-weight: 900;
    font-size: 20px;
    padding:5px;
}

header .stopwatch span{
    padding: 3px;
}

header .record p{
    margin-block-end: 0;
    margin-bottom: 5px;
}

header span{
    font-weight: 900
}

header span.score{
    font-weight: 900;
}